<h1> create course</h1>
<br>
<head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
            
        </head>
        
        
        <h1>edit </h1>
        
        
        <form action="./add_course" method="post" class="p-3">
              <div class="form-group">
                 <label for="recipient-name" class="col-form-label">Course Title</label>
                 <input type="text" class="form-control" placeholder="Title" name="title" id="recipient-name2" required="">
               </div>
               <div class="form-group">
                    <select name="Department_id">
                            <option value="1">Comps</option>
                            <option value="2">IT</option>
                            <option value="3">Mech</option>
                            <option value="4">Civil</option>
                            <option value="5">Mech</option>
                            <option value="6">EC</option>
                            <option value="7">EEE</option>
                            <option value="8">Mining</option>
                            <option value="9">Meta</option>
                          </select>
              </div>
               
               
               <div class="right-w3l mt-4 mb-3">
                 <input type="submit" class="form-control" value="Add">
               </div>
             </form>
        <br>
        <a href="./">home</a>


<br>
<a href="./">home</a>