<h1>home</h1>

<br>
<h1><%= user.Instructor_id%></h1>


<a href="./profile">profile</a><br>

<a href="./edit_profile">edit profile</a><br>

<a href="./courses">courses</a><br>

<a href="./logout">logout</a>